### DataFrame_Pandas

## Boolean

In [5]:
print(True == False)
print(True == True)

False
True

In [6]:
True == False

False

In [9]:
True != '1'

True

In [10]:
e='Asivt'

In [13]:
e.upper()
e.lower()

'asivt'

In [17]:
big=e.upper()

In [18]:
e

'Asivt'

In [37]:
data = ['재홍','유빈',2,3,4]
t=(1,2,3,4,5)
d={'name':'일', 2:'이'}

In [40]:
d.keys()

dict_keys(['name', 2])

In [41]:
d.values()

dict_values(['일', '이'])

In [38]:
d['name']

'일'

In [35]:
t(0)='일' #튜플의 요소는 기본적으로 바꿀수없다

SyntaxError: can't assign to function call (<ipython-input-35-dc3850b510d6>, line 1)

In [29]:
data[1],data[-1]

('유빈', 4)

In [30]:
data[2:]

[2, 3, 4]

In [31]:
data[:2]

['재홍', '유빈']

In [32]:
data[0] = '석찬'

In [34]:
data

['석찬', '유빈', 2, 3, 4]

In [33]:
type(data)

list

In [23]:
type(d)

dict

In [24]:
type(t)

tuple

In [55]:
a=[1,2,3]
b=['치킨','피자','고구마']

In [59]:
a.append(400)

In [60]:
a

[1, 2, 3, 400]

In [46]:
b

['치킨', '피자', '고구마']

In [50]:
s1=[a,b]

In [49]:
import pandas as pd

In [51]:
pd.Series(s1)

0        [1, 2, 3]
1    [치킨, 피자, 고구마]
dtype: object

In [52]:
pd.DataFrame(s1)

    0   1    2
0   1   2    3
1  치킨  피자  고구마

In [65]:
print(True == False)
print(True != 0)
print(False == 0)
print(True or False)
print(1 == '1')

False
True
True
True
False

In [66]:
eng = 'Korea COVID 19'
print(eng.lower())
print(eng.upper())

korea covid 19
KOREA COVID 19

In [72]:
data = []

In [73]:
data.append('java')

In [77]:
data[0], data[-1],data[1:],data[:2]

('java', 'java', [], ['java'])

In [75]:
data.sort()

In [76]:
data.reverse()

In [80]:
b=(1,2,3,'사','오')
c=1,2,3

In [81]:
type(b),type(c)

(tuple, tuple)

In [85]:
b[3] = 4

TypeError: 'tuple' object does not support item assignment

In [84]:
b[3:],b[1:4]

(('사', '오'), (2, 3, '사'))

In [86]:
dic = {'name1':'경민','학번1':20103, 'name2':'경민2','학번2':20104}

In [87]:
dic.get('name1')

'경민'

In [88]:
dic.keys()

dict_keys(['name1', '학번1', 'name2', '학번2'])

In [89]:
dic.values()

dict_values(['경민', 20103, '경민2', 20104])

In [90]:
lunch = {'햄버거','치킨','라면','콜라',10000}
dinner = {'피자','족발','라면','콜라',10000}

In [91]:
lunch & dinner

{10000, '라면', '콜라'}

In [92]:
dinner|lunch

{10000, '라면', '족발', '치킨', '콜라', '피자', '햄버거'}

In [93]:
False == True

False

In [ ]:
ㅇ= ['dl']

In [98]:
pd.DataFrame(['일','이','삼','사','오'],index=[1,2,3,4,5],columns='이름')

TypeError: Index(...) must be called with a collection of some kind, '이름' was passed

In [103]:
per =[
    {'이름':'은주', '나이':30, '직업':'J1'},
    {'이름':'민주', '나이':20, '직업':'J3'},
    {'이름':'소주', '나이':19, '직업':'J4'},
    {'이름':'네주', '나이':24, '직업':'J2'}
]

In [104]:
pd.DataFrame(per)

   이름  나이  직업
0  은주  30  J1
1  민주  20  J3
2  소주  19  J4
3  네주  24  J2

In [105]:
per_2={
    '이름':['이름','소주','네주','희주'],
    '나이':[21,22,21,25],
    '직업':['j1','j2','j3','j4']
}

In [107]:
pd.DataFrame(per_2,index=[4,5,6,7])

   이름  나이  직업
4  이름  21  j1
5  소주  22  j2
6  네주  21  j3
7  희주  25  j4

In [108]:
lc={
    '3식':['아침','점심','저녁'],
    '메뉴':['삼겹살','치킨','피자']
}

In [109]:
pd.DataFrame(lc,index=[1,2,3])

   3식   메뉴
1  아침  삼겹살
2  점심   치킨
3  저녁   피자