### format_for_list

In [5]:
s = '{} {} {}'
f = s.format('대건','윤기','찬빈')
print(f)

대건 윤기 찬빈

In [6]:
s = '{} 이는 {} 와 {}를 좋아한다'
f = s.format('대건','윤기','찬빈')
print(f)

대건 이는 윤기 와 찬빈를 좋아한다

In [7]:
s = '{} 이는 {}번이고 {}에 진학했다'
f = s.format('대건','30312','인천대학교')
print(f)

대건 이는 30312번이고 인천대학교에 진학했다

In [8]:
name = '석찬'
num = 30103
add = '인천시 연수구'
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(name,num,add)
print(f)

석찬 이는 30103번이고 인천시 연수구에 살고있다

In [10]:
name = input('이름:')
num = input('학번:')
add = input('주소:')
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(name,num,add)
print(f)

이름:박가현
학번:30307
주소:미추홀구
박가현 이는 30307번이고 미추홀구에 살고있다

In [11]:
stu = input('이름 학번 주소').split()

이름 학번 주소가현 30307 미추홀구

In [12]:
stu

['가현', '30307', '미추홀구']

In [13]:
stu[0]

'가현'

In [14]:
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(stu[0],stu[1],stu[2])
print(f)

가현 이는 30307번이고 미추홀구에 살고있다

### [문제1]다음과 같은 양식으로 입력받아 출력하기
-햄버거/2/4달라 입력하면
-햄버거 2개 값은 8달라입니다

In [17]:
a = input('메뉴 갯수 가격').split()

메뉴 갯수 가격햄버거 2 4

In [21]:
s= '{} {}개 값은 {}달라입니다'
g= s.format(a[0],a[1],(a[1]*a[2]))
print(g)

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
inf = '%d %s %f'
pr = inf%(20, '인천' , 0.05)
print(pr)

대건 윤기 찬빈

In [22]:
inf = '%d년도 %s여고 %f퍼센트'
pr = inf%(20, '인천' , 0.05)
print(pr)

20년도 인천여고 0.050000퍼센트

### [문제2] 햄버거 2개는 8달라이다.

In [23]:
im = '%s %d개는 %d달라이다'
pr = im%('햄버거', 2 , 2*4)
print(pr)

햄버거 2개는 8달라이다

In [ ]:
List

In [26]:
arr = ['성곤','대건','대범','호정']
arr

['성곤', '대건', '대범', '호정']

In [27]:
arr[0]

'성곤'

In [29]:
len(arr)

4

In [33]:
for i in range(1,6) :
    print(i)

1
2
3
4
5

In [32]:
for i in range(5,0,-1) :
    print(i)

5
4
3
2
1

In [37]:
for i in range(len(arr)) :
    print(arr[i])

성곤
대건
대범
호정

In [41]:
for i, val in enumerate(arr) :
    print(i+1,'번', val)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

### [문제1]30부터 50까지 출력해보기

In [45]:
for a in range(30,51) :
    print(a)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

### [문제2] 30부터 50까지 중에서 홀수만 출력해보기

In [47]:
for i in range(30,51) :
    if i%2 !=0 :
        print(i)

31
33
35
37
39
41
43
45
47
49

### [문제3]30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [58]:
sum = 0
for i in range(30,51) :
    if i%2 !=0 :
        sum = sum+i
print(sum)

400

### [문제4]1부터 10까지 중에서 짝수이면 파이썬 홀수이면 파이

In [61]:
for i in range(1,11) :
    if i%2 !=0 :
        print("파이썬")
    else :
        print("파이")

파이썬
파이
파이썬
파이
파이썬
파이
파이썬
파이
파이썬
파이